/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

.profile-img {
    border-radius: 150%;
    width: 250px;
    height:250px;
}

.profile-info h3 {
    margin: 0;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background: #333;
    color: #fff;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.flashcards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flashcard {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
}

.flashcard h3 {
    margin-top: 0;
}

.projects img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
